@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap');

:root {
    --title-font: 'Fraunces', serif;
    --text-color1: #fefcF7;
    --text-color: #333d4b;
    --bg-color: #2c343e;
    --primary-color: #0e8784;
}

*, 
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Barlow', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container-fluid {
    max-width: 1280px;
    width: 100%;
}

.header {
    padding: 44px 0;
}

.header__box {
    display: flex;
    align-items: center;
}

.header__logo {
    width: 236px;
    height: 26px;
}

.nav {
    display: flex;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__item {
    margin-left: 32px;
}

.nav__link {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
    transition: all 0.2s ease;
}

.header__btn {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    display: none;
}

.bx-menu {
    font-size: 30px;
    color: var(--text-color);
}

.nav__box {
    display: none;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    width: 163px;
    height: 18px;
}

.nav__close {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    display: none;
}

.bx-x {
    font-size: 40px;
    color: var(--text-color);
}

/* hero */


.hero {
    width: 100%;
    height: 100vh;
    background-image: url('../imgs/Bitmap.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

.hero__desc {
    padding-top: 50px;
    padding-left: 85px;
}
.hero__title {
    width: 50%;
    font-family: var(--title-font);
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: var(--text-color1);
    margin-bottom: 32px;
}
.hero__text {
    width: 40%;
    color: var(--text-color1);
    font-size: 16px;
    line-height: 26px;
    opacity: 0.8;
    margin-bottom: 71px;
}

.btn {
    font-family: var(--title-font);
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: var(--text-color1);
    text-align: center;
    padding: 15px 31px;
    background-color: var(--primary-color);
    cursor: pointer;
    border: none;
    border-radius: 6px;
}


/* collection */

.collection {
    padding: 126px 0 100px 0;
}

.collection__page {
    position: relative;
    width: 100%;
}

.collection__img {
    width: 100%;
    height: 118px;
    position: absolute;
    top: -100px;
    left: 0;

}


.clln__img {
    width: 255px;
    height: 193px;
    margin-bottom: 72px;
}
.clln__title {
    font-family: var(--title-font);
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: var(--text-color);
    margin-bottom: 24px;
}
.clln__text {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: var(--text-color);

}

/*     choose      */

.choose {
    padding-top: 100px;
    height: 1000px;
}
.choose__page {
    padding: 100px 85px;
    background-color: var(--bg-color);
    border-radius: 8px;
    height: 577px;
}

.choose__info {
    width: 540px;
    margin: 0 auto;

}

.choose__heading {
    font-family: var(--title-font);
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: var(--text-color1);
    margin-bottom: 32px;
}

.choose__desc {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: var(--text-color1);
    opacity: 0.8;
    margin-bottom: 86px;    
}

.choose__item {
    padding: 15px;
}

.choose__box {
    padding: 72px 48px 48px 48px;
    background-color: var(--primary-color);
    text-align: center;
    border-radius: 8px;
}
.choose__img {
    width: 72px;
    height: 72px;
    margin-bottom: 56px;
}
.choose__title {
    font-family: var(--title-font);
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: var(--text-color1);
    margin-bottom: 24px;
}
.choose__text {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: var(--text-color1);
}

/* WORK */

.work {
    padding: 100px 0;
}
.work__span {
    display: block;
    font-family: var(--title-font);
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
    margin-bottom: 80px;
}
.work__img {
    width: 791px;
    height: 31px;
    background-image: url('../imgs/bords.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 67px;
}

.work__list {
    margin-bottom: 64px;
}

.work__box {
    width: 285px;
    height: 355px;
}

.wbox__span {
    font-family: var(--title-font);
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #fdd6ba;
    margin-bottom: 38px;
}
.wbox__title {
    font-family: var(--title-font);
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: var(--text-color);
    margin-bottom: 42px;
}
.wbox__text {
    font-size: 16px;
    line-height: 26px;
    color: var(--text-color);
}


/* footer */

.footer {
    padding: 90px 0;
}

.footer__box {
    padding: 47px 85px;
    background-color:  #2c343e;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__logo {
    width: 235px;
    height: 25px;
}
.footer__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
}
.footer__item {
    margin-left: 33px;
}
.footer__item:nth-child(1){
    margin-left: 103px;
}

.footer__link {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888f;
    transition: all 0.2s ease;
}
.footer__media {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.media__item {
    margin-left: 24px;
}

.bxl-facebook-square {
    font-size: 25px;
    color: var(--text-color1);
}
.bxl-twitter {
    font-size: 25px;
    color: var(--text-color1);
}
.bxl-instagram {
    font-size: 25px;
    color: var(--text-color1);
}

/* hovers */

.footer__link:hover {
    color: var(--text-color1);
}


.bxl-facebook-square:hover {
    color: #fdd6ba;
}
.bxl-twitter:hover {
    color: #fdd6ba;
}
.bxl-instagram:hover {
    color: #fdd6ba;
}

.btn:hover {
    background-color: #66d2cf;
}

.nav__link:hover {
    color: var(--text-color);
}



@media screen and (max-width: 992px) {
    .container-fluid {
        width: 90%;
        padding: 0;
    }

    .hero {
        background-image: url(../imgs/tablet-hero.jpg);
        background-size: contain;
    }

    .hero__title {
        width: 100%;
    }

    .hero__text {
        width: 80%;
    }

    .collection {
        padding: 20px 0;
    }

    .collection__list {
        display: flex;
        align-items: center;
    }

    .clln__img {
        margin-bottom: 0;
    }

    .clln {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .clln__desc {
        max-width: 50%;
        flex-basis: 50%;
    }

    .collection__box {
        margin-bottom: 20px;
    }


    .choose {
        padding-top: 70px;
        height: 1100px;
    }

    .choose__list {
        display: flex;
        flex-direction: column;
    }

    .choose__box {
        display: flex;
        width: 100%;
        padding: 41px 48px;
        align-items: center;
        justify-content: center;
    }

    .choose__page {
        padding: 64px 24px;
        width: 100%;
        height: 650px;
    }

    .choose__desc {
        width: 100%;
        text-align: start;
    }

    .choose__title {
        margin-bottom: 16px;
    }

    .choose__text {
        width: 90%;
    }

    .choose__img {
        width: 56px;
        height: 56px;
    }

    /* WORK */

    .work {
        padding: 10px 0;
    }
    .work__span {
        margin-bottom: 40px;
    }
    .work__img {
        width: 497px;
        height: 31px;
        background-image: url('../imgs/borders.svg');
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: 48px;
    }

    .work__list {
        width: 100%;
        margin-bottom: 44px;
    }

    .work__box {
        width: 100%;
    }

    .wbox__title {
        width: 100%;
        
    }
    .wbox__text {
        width: 100%;
    
    }

    /* footer */


    .footer {
        padding: 70px 0;
    }

    .footer__box {
        padding: 54px 190px;
        background-color:  #2c343e;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__logo {
        width: 100%;
        margin-bottom: 32px;
    }
    .footer__list {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 65px;
        flex-grow: 0;
    }

    .footer__item:nth-child(1){
        margin-left: 0;
    }
    .footer__item {
        margin-left: 32px;
    }

    .footer__media {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .media__item {
        margin-left: 24px;
    }


}

@media screen and (max-width: 768px) {
   .header__btn {
       display: block;
   }

   .header__nav {
       opacity: 0;
       position: fixed;
       top: -700px;
       left: 0;
       width: 100%;
       height: 100vh;
       background: linear-gradient(0deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
       z-index: 100;
       transition: all 0.5s ease;
   }

   .nav__box {
        display: block;
        position: absolute;
        left: 20px;
        top: 20px;
        display: flex;
        justify-content: space-around;
        width: 100%;
    }


    .nav__close {
        display: block;
    }

   .nav__list {
       padding-top: 150px;
       display: flex;
       flex-direction: column;
   }

   .nav__item {
       margin-bottom: 20px;
   }

   .nav__link {
        font-family: var(--title-font);
        color: var(--text-color);
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
   }

   /* hero */

   .hero {
       background-image: url('../imgs/tel-img.jpg');
       background-size: contain;
       width: 100%;
       height: 85vh;
   }

   .hero__desc {
       display: flex;
       flex-direction: column;
       align-items: center;
       text-align: center;
       padding-top: 10px;
       padding-left: 10px;
   }

   .hero__title {
       width: 100%;
       font-size: 40px;
       line-height: 40px;
   }

   .hero__text {
       width: 100%;
   }

   .hero__btn {
       margin: 0 auto;
   }

   .collection {
       padding: 0;
   }

   .clln__img{
       width: 100%;
       height: 100%;
   }

   .clln {
       width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .clln__desc {
        max-width: 100%;
        flex-basis: 100%;
    }
    
    .choose {
        padding-top: 70px;
        height: 1800px;
        width: 100%;
    }

    .choose__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }


    .choose__page {
        padding: 64px 24px;
        width: 100%;
        height: 1000px;
    }

    .choose__info {
        width: 100%;
    }

    /* work */

    .work__content {
        text-align: center;
    }

    .work__img {
        display: none;
    }

    .work__item {
        margin-bottom: 30px;
    }

    .work__box {
        text-align: center;
    }


     /* footer */


     .footer {
        padding: 70px 0;
    }

    .footer__box {
        padding: 54px 0;
        background-color:  #2c343e;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__logo {
        width: 100%;
        margin-bottom: 48px;
    }
    .footer__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
        text-align: center;
    }

    .footer__item {
        margin-left: 0;
        margin-bottom: 24px;
        width: 100%;
    }

    .footer__media {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .media__item {
        margin-left: 24px;
    }



}

.show {
    top: 0;
    opacity: 1;
}